body {
    margin: 0;
    background-image: url("../img/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1%;
}
#pintura{
    background-image:url("../img/fondo4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
}

img {
    cursor: none;
    position: absolute;
}
.nave{
    width: 10%;
    
}
