body{
    background: #292929;
}
.buscador{
    display: flex;
}
#entrada{
    margin-top: 10%;
    margin-left: 50%;
    height: 10%;
    background: black;
    color: white;
}
#boton{
    color: white;
    margin-top: 10%;
    height: 10%;
    background: black;
}
img{
    width: 50%;
    margin-right: 0%;
    position: absolute;
}